[Unit]
Description=springboot
Requires=network.target
After=syslog.target network.target
[Service]
User=java
EnvironmentFile=-/usr/srv/springboot/gdt.conf
ExecStart=/usr/java/jdk/bin/java -jar -Xss256k -Xms256m  -Xmx512m /usr/srv/springboot/gdt.jar
SuccessExitStatus=143
[Install]
WantedBy=multi-user.target